{% extends "layout.html" %}

{% block content %}

<h2 class="heb">משאבים לטובת הפרויקט הסופי</h2>
<h3 class="heb">בדף הזה תמצאו קישורים להסברים על איך ליישם דברים שאולי תרצו ליישם בפרוייקט הסופי שלכם</h3>
<br><br><br><br>

<div class="row">
    <div class="col-md-4">
        <h2 class="heb">איך לכלול טקסט בעברית שייראה יפה</h2>
        <p class="heb">
            לחיצה על הקישור כאן תפנה אתכם לדף עם הוראות איך לכלול טקסט בעברית בתוך
            העמוד שלכם. למעשה הטקסט הזה שאתם קוראים כאן הוא בעיברית, בתור התחלה אתם יכולים להסתכל על קוד המקור
        </p>
        <p><a class="btn btn-default heb" href="https://docs.google.com/document/d/1ywaeObj_XorjeSEVIih7ZYz0NLz7cLDF957570ql3hQ/edit?usp=sharing">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="heb">Expand-Collapses</h2>
        <p class="heb">
         איך פורסים את הטבלה ומקפלים אותה. יש כאן קישור שמראה איך עושים את זה צעד אחרי צעד. 
        </p>
        <p><a class="btn btn-default heb" href="https://docs.google.com/document/d/1COmkednwsAq88nj_Ittgf6YsszrIWpaGXdf92iheTwE/edit?usp=sharing">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}