{% extends "layout.html" %}

{% block content %}

<div class="row my-grid-borders heb">
    <h2 class="heb">תמונת מצב של התקדמות הפרויקט</h2>
</div>


<div class="row my-grid-borders heb">
    <table class="table table-striped heb">
        
        <tbody>
            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">נדב אייזן</span></font></p>
                </td>
                <td>
                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; סיים את 5130, נתקל בקשיים בהעלאה לגיטהאב. </span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">שלב הבא:</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לנסות לפתור שוב</span></p>

                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">יובל אלון</span></font></p>
                </td>
                <td>
                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;<span style="font-family:Tahoma,Geneva,sans-serif">16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להעלות ל PA</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></p>


                </td>
                <td>
                    <a href="https://github.com/YuvalAlon/Flask_FinalProject---Yuval.git">GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">יונתן בוקאי</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;</span></span><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">16/03/2020 &ndash;</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא: </span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 - להגיש את 5130</span></p>


                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">אלעד בלוא</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;&rlm;16/03/2020 &ndash; </span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגשת 5130</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לתת הדרכה</span></p>



                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">עומר בן יוסף</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></p>




                </td>
                <td>
                    <a href="https://github.com/omerbenyossef/myfinalproject.git">GitHub</a>
                </td>
                <td>
                    <a href="http://omerbenyossef.pythonanywhere.com/">Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">רועי גולן</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;&rlm;16/03/2020 &ndash; </span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגשת 5130</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לתת הדרכה</span></p>



                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">בן גטניו</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></p>




                </td>
                <td>
                    <a href="https://github.com/BenGattegno/BenFinalProject.git">GitHub</a>
                </td>
                <td>
                    <a href="Bengattegno.pythonanywhere.com">Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">רועי גליקמן</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;</span></span><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">16/03/2020 &ndash;</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא: </span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 - להגיש את 5130</span></p>


                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">גדי הלוי</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></p>




                </td>
                <td>
                    <a href="https://github.com/GadiHalevi/Project5030Gadi.git">GitHub</a>
                </td>
                <td>
                    <a href="gadihalevi.pythonanywhere.com">Pythonanywhere</a>
                </td>
            </tr>


            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">אסף הראל</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></p>




                </td>
                <td>
                    <a href="https://github.com/Asaf-Harel/FinalProject.git">GitHub</a>
                </td>
                <td>
                    <a href="https://asafharel.pythonanywhere.com/">Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">אילי וורייט</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; סיים את 5130, נתקל בקשיים טכניים. </span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">שלב הבא:</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לנסות לפתור שוב</span></p>


                </td>
                <td>
                    <a href="https://github.com/Illywureit/MyFinalProject.git">GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">רון כדורי</span></font></p>
                </td>
                <td>



                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אין לי מושג מה הסטטוס</span></p>


                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">יונתן לוי</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;</span></span><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">16/03/2020 &ndash;</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא: </span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 - להגיש את 5130</span></p>


                </td>
                <td>
                    <a href="https://github.com/JonathanLevy10/FinalProject.git">GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">עדן מלצר</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;</span></span><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">16/03/2020 &ndash;</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא: </span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 - להגיש את 5130</span></p>


                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">הדר עובדיה</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></p>




                </td>
                <td>
                    <a href="https://github.com/WhiteRose7303/Flask-Project-H_O.git">GitHub</a>
                </td>
                <td>
                    <a href="http://hadarova5384.pythonanywhere.com/">Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">פלא רז</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;</span></span><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">16/03/2020 &ndash;</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא: </span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 - להגיש את 5130</span></p>


                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">אסף שורק</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; הגיש את 5130</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">השלב הבא:</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; להתחיל לעבוד על query</span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; אורן, לבדוק את 5130</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, להשלים העלאה ל PA</span></p>



                </td>
                <td>
                    <a href="https://github.com/Asasor/FlaskWebProject4080Asaf.git">GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><font face="Tahoma, Geneva, sans-serif"><span style="font-family:Tahoma,Geneva,sans-serif">גיא שטילר</span></font></p>
                </td>
                <td>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">&rlm;16/03/2020 &ndash; סיים את 5130, נתקל בקשיים בהעלאה לגיטהאב. </span></span></span></p>

                    <p dir="RTL" style="margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:right"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="direction:rtl"><span style="unicode-bidi:embed">שלב הבא:</span></span></span></p>

                    <p><span style="font-family:Tahoma,Geneva,sans-serif">&rlm;16/03/2020 &ndash; אורן, לנסות לפתור</span></p>



                </td>
                <td>
                    <a href=#>GitHub</a>
                </td>
                <td>
                    <a href=#>Pythonanywhere</a>
                </td>
            </tr>


        </tbody>
    </table>

</div>


        {% endblock %}
