{% extends "layout_yesodot.html" %}


{% block content %}

<div class="jumbotron">
    <h2 class="heb">דף עבודה לשיעור של ה 16.9.2020</h2>
    <br /><br />
    <h4 class="heb"> עיקבו אחרי ההוראות בדף זה, שלב אחר שלב, צפו בסרטונים ובצעו את המשימות המוגדרות בסופם. אני אעבור בינכם כדי לעזור ולהסביר במקומות שצריך</h4>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 heb">
        <br /><br /><br /><br />

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">זהו דף הדרכה לשיעור של ה 16.9.20 עם אורן</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:16px"><span style="color:#006400"><span style="font-family:Tahoma,Geneva,sans-serif">מדעי הנתונים, למידת מכונה</span></span></span></strong></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בשעתיים הראשונות של השיעור נמשיך להבין ולרגל Pandas דרך המחברות. אנחנו נתחלק לשתי קבוצות.</span></span></p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">מי שענה במשוב האחרון &quot;הגשתי כבר את ארבעת המחברות הראשונות ואני ממשיך הלאה&quot; או &quot;אני רץ/ה קדימה עם המחברות והתרגילים. אני מסתדר/ת עם ההסברים בתוך המחברות. אוכל להגיש השבוע את כל ארבעת המחברות הראשונות&quot; יהיה בקבוצה אחת. השאר יהיו בקבוצה השנייה. המעברים בין הקבוצות הם גמישים. פשוט תעברו לקבוצה הראשונה אם אתם מרגישים שאתם מתקדמים ועצמאיים יותר או תעברו לקבוצה השנייה, שם אתעכב ואסביר יותר.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">המטרה שלנו תהיה לסיים את כל המחברות ואת הפרק הזה עד סוף השבוע הבא. זה כולל שתי המחברות &nbsp;movie_cast_1 ו- movie_cast_2</span></span></p>

        <p>&nbsp;</p>

        <p><strong><span style="color:#2f4f4f"><span style="font-size:16px"><span style="font-family:Tahoma,Geneva,sans-serif">יסודות C#</span></span></span></strong></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">השיעור כאן מניח שהשלמתם את כל החלקים של השיעור הקודם, כולל הגשות של מטלות 1007 ו- 1008 ב Repl. אם לא השלמתם את השיעור הקודם, כולל כל המטלות שבו, אנא חזרו והשלימו. בתחתית הדף תמצאו קישור לשיעור הקודם.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק 1</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בשיעור שעברהתבקשתם לצפות בסרטון המסביר על מספרים בינאריים. אתם מתבקשים כאן לענות על מבדק קצר בנושא הזה. בבקשה, אל תתחילו לפתור את המבדק אם אתם לא בטוחים בעצמיכם. חיזרו לשיעור הקודם, צפו שוב בסרטון, ואז המשיכו כאן.</span></span></p>

        <p lang="he">&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://forms.gle/TLFQ4EzEgLjUKxaFA">קישור למבדק מספרים בינאריים</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק 2</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בשיעור הקודם למדנו על משתנים בוליאנים, סימני יחס, ואופרטורים בוליאנים. בחלק זה תתבקשו לענות על מבדק קצר בנושא הזה. גם כאן, אל תתחילו לפתור את המבדק אם אינכם בטוחים בעצמיכם או אתם לא מכירים טוב את החומר. אם צריך, חיזרו לשיעור הקודם. אם צריך, התייעצו איתי.</span></span></p>

        <p lang="he">&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://forms.gle/pwAQoeRtkpz9f54M9">קישור למבדק ביטויים בוליאניים</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק 3</span></span></strong></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק זה נלמד על משפטי תנאי. If, else. החלק הזה יהיה הקנייה פרונטלית שלי בכיתה. אם הגעתם לשלב זה, אנא יידעו אותי ונמשיך.</span></span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק 4</span></span></strong></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק זה הוא עבודה עצמית של משימות נוספות שנפתחו ב Repl. המשימות מתרגלות את החומר הנלמד בשיעור הזה ובשיעורים הקודמים.</span></span></p>


    </div>
    <div class="col-md-2">
    </div>
</div>

<hr />

<div class="row my-grid-borders">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>

                    <td><a class="btn btn-info heb" href="{{ url_for('yesodot092320') }}">Next</a></td>
                    <td class="heb"><a class="btn btn-info heb" href="{{ url_for('yesodot091320') }}">Prev </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

    {% endblock %}