{% extends "layout_yesodot.html" %}


{% block content %}

<div class="jumbotron">
    <h2 class="heb">דף עבודה לשיעור של ה 13.9.2020</h2>
    <br /><br />
    <h4 class="heb"> עיקבו אחרי ההוראות בדף זה, שלב אחר שלב, צפו בסרטונים ובצעו את המשימות המוגדרות בסופם. אני אעבור בינכם כדי לעזור ולהסביר במקומות שצריך</h4>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 heb">
        <br /><br /><br /><br />

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">זהו דף הדרכה לשיעור של ה 13.9.20 עם אורן</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:18px"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 1</span></strong></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק זה קצר ומשותף לכולם. אני מבק שתענו על השאלון שבקישור כאן. השאלון הוא ראשית כדי לרשום נוכחות ושנית כדי להבין היכן כל אחת ואחד מכם נמצא במדעי הנתונים, כלומר במחברות הפייתון שבהם אנחנו לומדים איך להשתמש ב Pandas ומנתחים את קובץ הסרטים הגדול. אני מבין שיש כאלה שרצים קדימה עם המחברות ויש כאלה שצריכים הדרכה. זה בסדר וזה בסדר. תשובות כנות לשאלון יעזרו לי לתכנן את השיעור הקרוב של יום רביעי ולתת מענה לכולם</span></span></p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong><a href="https://forms.gle/DQHax73caf4cmt828">קישור לטופס</a></strong></span></span></p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://forms.gle/DQHax73caf4cmt828">https://forms.gle/DQHax73caf4cmt828</a></span></span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 2</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">חלוקת שלמים.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">למדנו בשיעור הקודם על סוגי המשתנים int ו- double. הכרנו גם כמה אופרטורים אריתמטיים הפועלים על משתנים אלה. הכרנו את אופרטור החיבור, +, אופרטור החיסור, - ואופרטור הכפל, *.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">כשאופרטור החלוקה מופעל על משתנים מסוג double, התוצאה היא בדיוק מה שאנחנו מצפים באלגברה הרגילה שאנחנו מכירים.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">כשאופרטור החלוקה מופעל על משתנים מסוג int, התוצאה היא לא בדיוק מה שאנחנו מצפים.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בנוסף למשתנים מסוג int יש אופרטור אריתמטי נוסף, אופרטור ה % (מודולו).</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">המצגת בקישור כאן מסבירה בקצרה איך פועלים האופרטורים / ו- % על משתנים שלמים</span></span></p>

        <p lang="he">&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://drive.google.com/file/d/10z2iXDzxdKr63AJDua8Ke9h-GY-EUPML/view?usp=sharing">קישור למצגת</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">דף העבודה הזה יתרגל ויבדוק את הבנתכם</span></span></p>

        <p lang="he">&nbsp;</p>

        <p lang="he"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://forms.gle/mBA1C8eYdoWGonnX8">קישור לדף העבודה</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:18px"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 3</span></strong></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">מביטים למספרים.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">מחשבים מייצגים מספרים לפי השיטה הבינארית. כלומר הספרות האפשריות הן רק 0 או 1. בחלק זה אתם מתבקשים ללמוד באופן עצמאי על מספרים בינאריים.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">אחרי שצפיתם בסרטון &quot;כיצד מספרים עובדים&quot; בקורס של אוניברסיטת תל אביב, אתם מתבקשים לצפות בסרטון הבא אחריו, &quot;מביטים למספרים&quot; ולענות על הבוחן שבסופו.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://courses.campus.gov.il/courses/course-v1:TAU+ACD_TAU_cs101x+2019_3/courseware/97ad6a545dd34eafbb456fea0acb201e/ec78d038ed5d4c1d905d38e065361f60/">קישור לסרטון &quot;ממספרים לביטים&quot;</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:18px"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 4</span></strong></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">משתנים בוליאנים ואופרטורים לוגיים.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">נלמד את הנושא הזה לפי המצגת:</span></span></p>

        <p>&nbsp;</p>

        <p><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://drive.google.com/file/d/12O591cokFj217m6clflduv6OfmhWB8v5/view?usp=sharing">מצגת משתנים בוליאנים ואופרטורים לוגיים</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:18px"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 5</span></strong></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">תרגילים נוספים ב Repl, 1007 ו- 1008</span></span></p>

    </div>
    <div class="col-md-2">
    </div>
</div>

<hr />

<div class="row my-grid-borders">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>

                    <td><a class="btn btn-info heb" href="{{ url_for('yesodot091620') }}">Next</a></td>
                    <td class="heb"><a class="btn btn-info heb" href="{{ url_for('yesodot090920') }}">Prev </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

    {% endblock %}
