{% extends "layout_yesodot.html" %}


{% block content %}

    <div class="jumbotron">
        <h2 class="heb">דף עבודה לשיעור של ה 6.9.2020</h2>
        <br /><br />
        <h4 class="heb">בוקר טוב. עיקבו אחרי ההוראות בדף זה, שלב אחר שלב, צפו בסרטונים ובצעו את המשימות המוגדרות בסופם. אני אעבור בינכם כדי לעזור ולהסביר במקומות שצריך</h4>
    </div>

<div class="row">
    <div class="col-md-8">
        <br /><br /><br /><br />
        <h3 class="heb">רשימת נוכחות</h3>
        <p class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">אנא מלאו את טופס הנוכחות בקישור:&nbsp;<a href="https://forms.gle/Z1JvKxLt5d3Sp7QF8">טופס נוכחות</a></span></span></p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ one_image }} alt='Missing' width="50" height="60">
    </div>
</div>

<hr />


<div class="row">
    <div class="col-md-8">
        <br /><br /><br /><br />
        <h3 class="heb">לפני התוכנית הראשונה, ארגון קבצים במחשב</h3>
        <p class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">הסרטון הקצר הבא ינחה אתכם בלהגדיר את שטח העבודה של Visual Studio במחשב האישי שלכם. הוא יראה לכם איך להגדיר את התיקייה שבה Visual Studio ישים את כל התוכניות שתכתבו בצורה שתוכלו למצא אותם לאחר מכן.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">אנא צפו בסרטון ויישמו את ההוראות</span></span></p>

        <p lang="he" class="heb">&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://youtu.be/ggHTBKUFX-8">קישור לסרטון</a></span></span></p>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ two_image }} alt='Missing' width="50" height="60">
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8">
        <br /><br /><br /><br />
        <h3 class="heb">התוכנית הראשונה</h3>
        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">התוכנית הראשונה שלנו.</span></span></p>

        <p class="heb">&nbsp;</p>

        <p class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">נפתח Visual Studio בפעם הראשונה. נפתח גם פרויקט/תכנית ראשונה, נריץ אותה, נשנה קצת ונריץ שוב. נראה גם איך Visual Studio מארגן את קבצי התוכניות שאנחנו כותבים.</span></span></p>

        <p class="heb">&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">צפו בסרטון ועיקבו אחרי ההוראות</span></span></p>

        <p lang="he" class="heb">&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong><a href="http://youtu.be/JBX7b2mvZak?hd=1">קישור לסרטון</a></strong></span></span></p>


    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ three_image }} alt='Missing' width="50" height="60">
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8">
        <br /><br /><br /><br />
        <h3 class="heb">ניתוח התוכנית הראשונה והסבר על פקודות פלט</h3>
        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">מה קרה בתוכנית הראשונה?</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">הסרטון כאן מראה,&nbsp; מנתח ומסביר מה עשינו בתוכנית הראשונה שלנו.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">הסרטו מציג גם את המושג &quot;פקודת פלט&quot; ומסביר אותה.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בסוף הסרטון יש משימה קצרה. אנא צפו בכל הסרטון ובצעו את המשימה</span></span></p>

        <p lang="he">&nbsp;</p>

        <p lang="he" class="heb"><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="http://youtu.be/fZmtamkGg_E?hd=1">קישור לסרטון</a></span></span></strong></p>



    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ four_image }} alt='Missing' width="50" height="60">
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8">
        <br /><br /><br /><br />
        <h3 class="heb">פקודות קלט ומשתנים מסוג שלמים</h3>
        <br /><br />
        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק הזה נסביר ונדגים פקודות קלט. כלומר קליטת נתונים על ידי התוכנית שאנחנו כותבים.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">נסביר ונדגים גם את המושג &quot;משתנה&quot; שהיא בעצם יחידת זיכרון של התוכנית שלנו.</span></span></p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">למשתנה יש שלושה פרמטרים:</span></span></p>

        <p>&nbsp;</p>

        <ul class="heb">
            <li lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">שם</span></span></li>
            <li lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">ערך</span></span></li>
            <li lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">סוג</span></span></li>
        </ul>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">סוג המשתנים שנסביר ונדגים כאן הוא מספרים שלמים. בהמשך נציג סוגי משתנים אחרים.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">גם כאן, צפו בסרטון ונסו להבין את המושגים. גם כאן בסוף הסרטון יש לכם משימה המתבססת על מה שנלמד בו.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">במידה ויש צורך בהסבר נוסף על המושגים, אני אהיה זמין להסברים ולמענה על שאלות</span></span></p>

        <p lang="he">&nbsp;</p>

        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong><a href="https://youtu.be/aI4szNUvrKc">קישור לסרטון, חלק ראשון</a></strong></span></span></p>
        <p lang="he" class="heb"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong><a href="https://youtu.be/QT2c2HYi5dA">קישור לסרטון, חלק שני</a></strong></span></span></p>



    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ five_image }} alt='Missing' width="50" height="60">
    </div>
</div>

<div class="row my-grid-borders">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>

                    <td><a class="btn btn-info heb" href="{{ url_for('yesodot090920') }}">Next</a></td>
                    <td class="heb"><a class="btn btn-info heb" href=#>Prev </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}
