{% extends "layout_yesodot.html" %}


{% block content %}

<div class="jumbotron">
    <h2 class="heb">14.10.2020</h2>
    <br /><br />
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 heb">
        <br /><br /><br /><br />

        <h1 dir="rtl"><span style="color:#2980b9"><strong><span style="font-family:Tahoma,Geneva,sans-serif">דף הדרכה לשיעור של ה 14.10.20</span></strong></span></h1>

        <p dir="rtl">&nbsp;</p>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בשיעור היום נחזור בקצרה על חומר מלפני חופשת הסוכות, נמשיך מהיכן שהפסקנו בשיעור האחרון לפני חופשת החג ונעשה צעד נוסף בלימוד חומר חדש.</span></span></p>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בנוסף, אנחנו צריכים לצערי להיפרד מסביבת ה Repl שבה אנחנו מגישים את מטלות הבית. למעשה לא ניפרד ממנה לגמרי. אני אסביר בכיתה למה אנחנו עושים את השינוי הזה ומה יבוא במקום.</span></span></p>

        <p dir="rtl">&nbsp;</p>

        <h2 dir="rtl"><span style="color:#2980b9"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 1</span></strong></span></h2>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">מעבר בראשי פרקים על חומר מהשיעור הקודם. נחזור לדף של השיעור הקודם ונשלים.</span></span></p>

        <p dir="rtl">&nbsp;</p>

        <h2 dir="rtl"><strong><span style="color:#2980b9"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 2</span></span></strong></h2>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">נפתור ביחד שלושה תרגילים מתוך ששת התרגילים האחרונים שקיבלתם כמשימות בית. המטרה תהיה הדגמת כל מה שלמדנו עד עכשיו. נעבור על:</span></span></p>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">2101 - Water Bill</span></span></p>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">2104 - 7 Boom</span></span></p>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">2106 -&nbsp; Circles</span></span></p>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">שימו לב שגם אלה שפתרו את השאלות והגישו, אולי יהיה להם מה ללמוד בהדגמת הפתרונות</span></span></p>

        <p dir="rtl">&nbsp;</p>

        <h2 dir="rtl"><span style="color:#2980b9"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 3</span></strong></span></h2>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">טבלאות מעקב. נחזור שוב לדף של השיעור הקודם, נלמד ונתרגל</span></span></p>

        <p dir="rtl">&nbsp;</p>

        <h2 dir="rtl"><span style="color:#2980b9"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 4</span></strong></span></h2>

        <p dir="rtl"><span style="font-family:Tahoma,Geneva,sans-serif">ספריות Math ו- Random</span></p>

        <p dir="rtl"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://drive.google.com/file/d/1811YPv0c8OZXWrTqHX5dJexcp44vSj80/view?usp=sharing">מצגת קצרה על ספריית Math</a></span></p>

        <p dir="rtl"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://drive.google.com/file/d/1gQCi5XmGYr6LhpGUdoVxYmBk5oFHChPu/view?usp=sharing">מצגת קצרה על ספריית Random</a></span></p>

        <p dir="rtl">&nbsp;</p>

        <h2 dir="rtl"><strong><span style="color:#2980b9"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 5</span></span></strong></h2>

        <p dir="rtl"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">תרגול</span></span></p>



    </div>
    <div class="col-md-2">
    </div>
</div>

<hr />

<div class="row my-grid-borders">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>

                    <td><a class="btn btn-info heb" href="{{ url_for('yesodot101420') }}">Next</a></td>
                    <td class="heb"><a class="btn btn-info heb" href="{{ url_for('yesodot093020') }}">Prev </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

    {% endblock %}