{% extends "layout_yesodot.html" %}


{% block content %}

<div class="jumbotron">
    <h2 class="heb">30.9.2020</h2>
    <br /><br />
    <h4 class="heb"> עיקבו אחרי ההוראות בדף זה, שלב אחר שלב, צפו בסרטונים ובצעו את המשימות המוגדרות בסופם. אני אעבור בינכם כדי לעזור ולהסביר במקומות שצריך</h4>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 heb">
        <br /><br /><br /><br />

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">זהו דף הדרכה לשיעור של ה 30.9.20 עם אורן, יסודות #C.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">השיעור כאן מניח שסיימתם והגשתם את המטלות הבאות ב Repl:</span></span></p>

        <p>&nbsp;</p>

        <ul>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2 F to C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">1003 Fix this program please</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">1004 Average of 4 numbers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">1005 Fibonacci</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">1007 - Dollar exchange</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">1008 Reverse Digits</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2020-2 Greater than 80- Try Again</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2020-3 Palindrome</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2020-4 Driving Ticket</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2021-2 CS Acceptance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2001 - Tri-angles</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2022 - Tender Offer</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2005AB - Student grades</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2008AB - numbers</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2007AB - Triangle Sides&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2004AB - Quadratic</span></span></li>
            <li><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">2002 - Sheshbesh</span></span></li>
        </ul>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">אם לא סיימתם והגשתם, וגם אם מועד ההגשה עבר, יש ערך למידה עצום לביצוע המטלות האלה. חיזרו והשלימו אותן!</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 1</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק זה נעצור ונבחן את עצמינו לגבי החומר הנלמד עד עכשיו. חלק זה הוא כיתתי, כלומר בהשתתפות כל הכיתה.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">אנא גשו למנטי, אנחנו נסביר את הכללים ונתחיל את המשחק מיד:</span></span></p>

        <p>&nbsp;</p>

        <p><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://www.menti.com/">קישור ל Menti</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 2</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק זה נוסיף מרכיב טכני לידע שלנו - איך מעצבים הודעות פלט.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק זה יהיה מבוסס על המצגת בקישור ונוסיף אליו גם סרטון הדרכה בהמשך</span></span></p>

        <p lang="he">&nbsp;</p>

        <p><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://docs.google.com/presentation/d/1Iiu3RJXhw028PnPPmpKU_B6Q2q0qoAqB6nHWuxEEjjY/edit?usp=sharing">קישור למצגת עיצוב הוראות פלט</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 3</span></span></strong></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק זה נוסיף עוד מרכיב טכני לידע שלנו בתכנות בשפת #C. שימוש באופרטורים מיוחדים שהם למעשה קיצורי דרך לאופרטורים אריתמטיים שכבר למדנו בשיעורים קודמים</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק זה יהיה מבוסס על המצגת בקישור ונוסיף לו גם סרטון הדרכה בהמשך</span></span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://docs.google.com/presentation/d/1uDb3SjCvNNTxO6t6iBBffxDRO3YLH0Q_CGAV7hOkh64/edit?usp=sharing">קישור למצגת אופרטורים מיוחדים</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 4</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק זה נלמד על המרה בין טיפוסי משתנים</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">המרה באנגלית זה Casting</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק זה יהיה מבוסס על המצגת בקישור ונוסיף אליו גם סרטון הדרכה בהמשך</span></span></p>

        <p>&nbsp;</p>

        <p><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://docs.google.com/presentation/d/1NLoKRUKXOUj9Mzf0MA9aL_r99pkls7JX5_P4aNyA_sw/edit?usp=sharing">קישור למצגת Casting</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 5</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">טבלאות מעקב.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק משמעותי בלימוד שפת תכנות הוא ניתוח והבנה של קוד קיים. עד עכשיו התמקדנו בכתיבת קוד. בחלק זה נכיר כלי לניתוח והבנה של תוכניות קיימות - טבלאות מעקב.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חלק זה יהיה מבוסס על המצגת בקישור ונוסיף אליו גם סרטון הדרכה בהמשך.</span></span></p>

        <p>&nbsp;</p>

        <p><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://docs.google.com/presentation/d/1F1zei7CDpRPxszUlqPqvwG23sY1rAzKBLFksZ_3zRKI/edit?usp=sharing">קישור למצגת טבלאות מעקב</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">המצגת כוללת שתי תוכניות שעבורן יש לערוך ולהגיש טבלאות מעקב. בתרגיל 1 אתם מתבקשים להגיש שתי טבלאות עבור קלטים שונים. בתרגיל 2 אתם מתבקשים להגיש שלוש טבלאות עבור קלטים שונים.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">את הטבלאות יש להגיש במודל (moodle) במקום שיפתח לטובת מטלות אלה. אפשר להגיש טבלה ערוכה בקובץ או צילום של טבלה ערוכה בכתב יד.</span></span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 6</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">חשיבה אלגוריתמית.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">עד עכשיו למדנו, טכנית, איך כותבים בשפת #C, מתי שמים } {, מתי שמים ;, איך משתמשים בפקודת if, איך מבצעים קלט ופלט, איך מגדירים משתנים מטיפוסים שונים וכו&#39;.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">כל אלה הם רק כלים לפתרון בעיות חישוביות באמצעות תוכנת מחשב.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בהינתן בעייה שאותה צריך לפתור, יש שלב מקדים לכתיבת קוד ושימוש בכלים הללו. השלב הוא השלב האלגוריתמי, כלומר כיצד ואיך אנחנו רוצים לפתור את הבעייה שהציבו בפנינו.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">הבעיות שפתרנו עד עכשיו וכתבנו עבורן קוד, הן פשוטות יחסית וכנראה שאת השלב האלגוריתמי של פתרונן עשינו בכלל בלי להבין שעשינו אותו. בבעיות מורכבות יותר דרוש שלב של חשיבה אלגוריתמית וכתיבת אלגוריתם מילולי לפני שמתחילים לקודד.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">את התהליך האלגוריתמי נלמד בחלק הזה</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">הלימוד יהיה מבוסס על המצגת הקצרה בקישור הבא.</span></span></p>

        <p>&nbsp;</p>

        <p><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><a href="https://docs.google.com/presentation/d/1fMG6f3Vx7B_bA_rCRm6fEvt6pkau-gN59_xbqBY5NNg/edit?usp=sharing">קישור למצגת חשיבה אלגוריתמית</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-size:18px"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 7</span></strong></span></p>

        <p>&nbsp;</p>

        <p lang="he"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">תרגול.</span></span></p>

        <p>&nbsp;</p>

        <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">בחלק זה עליכם לפתור ולהגיש את משימות 2101-2106&nbsp;&nbsp; ב Repl</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"><strong><span style="color:#b22222"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">לכל משימה, יש לכתוב אלגוריתם מילולי ולכלול אות בראש התוכנית כהערות</span></span></span></strong></p>


    </div>
    <div class="col-md-2">
    </div>
</div>

<hr />

<div class="row my-grid-borders">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>

                    <td><a class="btn btn-info heb" href="{{ url_for('yesodot101420') }}">Next</a></td>
                    <td class="heb"><a class="btn btn-info heb" href="{{ url_for('yesodot092320') }}">Prev </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

    {% endblock %}