{% extends "layout_yesodot.html" %}


{% block content %}

<div class="jumbotron">
    <h2 class="heb">דף עבודה לשיעור של ה 9.9.2020</h2>
    <br /><br />
    <h4 class="heb"> צהרים טובים. עיקבו אחרי ההוראות בדף זה, שלב אחר שלב, צפו בסרטונים ובצעו את המשימות המוגדרות בסופם. אני אעבור בינכם כדי לעזור ולהסביר במקומות שצריך</h4>
</div>

<div class="row">
    <div class="col-md-10">
        <br /><br /><br /><br />



        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">זהו דף הדרכה מקוון לשיעור של ה 9.9.2020 ביסודות מדעי המחשב תשפ&quot;א, עם אורן עוזרד</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בדף הדרכה זה מספר שלבים. אתם מתבקשים לעקוב אחר השלבים בסדר שבו הם מופיעים ללמוד ולבצע בהתאם. בחלק מהמקומות נעצור להסברים בפורום כל הכיתה. אני אסתובב בין הכיתות ובין התלמידים ואדריך ככל שיידרש. אל תהססו לפנות ולשאול</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><strong><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 1</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">כאן תתבקשו למלא טופס נוכחות, את כתובת המייל שלכם ודיווח קצר על מה הספקתם לעשות בשיעור הקודם ומה לא. ביקשתי מכם גם לרשום הערות לגבי השיעורים עד עכשיו וכל מה שעולה לכם בראש.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://forms.gle/79m5eYt4xGEkeh1z9">קישור לטופס</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><strong><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 2</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בחלק הזה נעצור רגע. אנחנו מתקדמים עם כתיבת תוכניות מחשב אבל אנחנו בעצם לא יודעים הרבה על מדעי המחשב. לאוניברסיטת תל אביב יש קורס נפלא של צעדים ראשונים במדעי המחשב ותכנות בפייתון. את התכנות בפייתון נעזוב כרגע אבל נרצה לצפות בחלק הראשון של הקורס.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">איך עושים את זה?</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">הולכים לכאן</span></span></p>

        <p>&nbsp;</p>

        <p  class="heb"><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://campus.gov.il/course/course-v1-tau-acd_tau_cs101x/">קישור לקורס</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">קודם כל נרשמים לאתר</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">אחר כך הולכים לקורס צופים בסרטונים עד סוף הסרטון &quot;איך מחשבים עובדים?&quot;</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בשיעור הבא אנחנו נמשיך עם עוד פרק אחד מתוך הקורס המקוון הזה של אוניברסיטת תל אביב. אתם מוזמנים כמובן להמשיך עם הקורס באופן עצמאי ובזמנכם החופשי.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><strong><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 3</span></span></strong></p>

        <p>&nbsp;</p>

        <p class="heb"><span style="font-size:14px" ><span style="font-family:Tahoma,Geneva,sans-serif">בחלק זה נבין איך מגישים תרגילים בסביבת ה repl.it. נרשמתם ל- repl בשיעור הראשון. אם אתם לא רשומים אז צפו בסרטון הדרכה שנמצא במודל.</span></span></pclass="heb">

        <p>&nbsp;</p>

        <p  class="heb"><span style="font-size:14px" ><span style="font-family:Tahoma,Geneva,sans-serif">עקבו אחרי לינק הזימון לכיתת ה repl &nbsp;שלנו</span></span></p>

        <p>&nbsp;</p>

        <p class="heb"><strong><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><a href="https://repl.it/classroom/invite/tl3iBxM">קישור לזימון לכיתת ריפל</a></span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">אם נכנסתם לכיתת הריפל סיימתם את השלב הזה. יופי</span></span></p>

        <p>&nbsp;</p>

        <p lang="he"  class="heb"><strong><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif">חלק 4</span></span></strong></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">בחלק הזה אני אסביר בעזרת מצגת על משתנים ואופרטורים. מי שהגיע לשלב הזה בבקשה להגיד לי ואנחנו נתחיל שיעור לא ארוך בנושאים האלה.</span></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:20px"><strong><span style="font-family:Tahoma,Geneva,sans-serif">חלק 5</span></strong></span></p>

        <p>&nbsp;</p>

        <p lang="he" class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">אחרי שלמדנו קצת יותר על משתנים ואופרטורים ונרשמנו לכיתת הריפל, אפשר להתחיל ולבצע משימות שפורסמו בכיתה. זה די אינטואיטיבי, אבל אני אהיה שם להסביר לכם איך פותחים משימה ואיך מגישים אותה.</span></span></p>

        <p>&nbsp;</p>

        <p class="heb"><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">זיכרו: את המשימות, שזה בעצם כתיבת תוכניות, אנחנו כותבים ב Visual Studio. מריצים ובודקים ב Visual Studio. רק אחרי שאנחנו מרוצים מהתוצאה אנחנו עושים העתק-הדבק ל Repl ומגישים.</span></span></p>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
</div>

<hr />

<div class="row my-grid-borders">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
                <tr>

                    <td><a class="btn btn-info heb" href="{{ url_for('yesodot091320') }}">Next</a></td>
                    <td class="heb"><a class="btn btn-info heb" href="{{ url_for('yesodot090620') }}">Prev </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>



{% endblock %}
