body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.my-grid-borders {
    border-style: none;
    border-color: green;
    padding: 10px;
    margin: 10px;
}

.contain {
    width: 100%;
    object-fit: contain;
}

.navbar-custom {
    background-color: firebrick;
    color: snow;
}

.navbar-custom1 {
    color: snow;
}

.jumbotron-hebrew-calibri {
    font-family: Tahoma, Geneva, sans-serif;
    direction: rtl;
}

.heb {
    font-family: Tahoma, Geneva, sans-serif;
    direction: rtl;
}

.mfp_background_ivory {
    background-color: ivory;
}

.mfp_background_gainsboro {
    background-color: gainsboro;
}

.mfp_background_sandybrown {
    background-color: sandybrown;
}

.mfp_p5 {
    padding: 3px;
}

.chart_groove {
    border-style: groove;
}

.converter-870 {
    background-color: #f0f0f5;
}

.textarea_oran {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: Courier New, Courier, monospace;
}